@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  body * {
    visibility: hidden;
  }

  #resume-print,
  #resume-print * {
    visibility: visible;
  }

  #resume-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}
